@charset "UTF-8";

// includes
@import "utils";
@import "flex";

form.job-manager-form {
	fieldset.fieldset-candidate_name,
	fieldset.fieldset-candidate_experience .resume-manager-data-row .fieldset-date {
		display: none;
	}

	fieldset.fieldset-candidate_education .resume-manager-data-row {
		.fieldset-date {
			display: none;
		}

		.fieldset-notes {
			margin-top: 100px;
		}
	}
	
	&[action*="action=edit"] .fieldset-send_to_top_resume {
		display: none;
	}
}